<section class="header">
  <ul class="header-menu">
    <a href="#" class="header-menu__link">Blog</a>
    <a href="#" class="header-menu__link">Sobre</a>
    <a href="#" class="header-menu__link">Descrição</a>
  </ul>
  <section class="header-about">
    <img class="header-about__img"
      src="https://static1.patasdacasa.com.br/articles/9/39/39/@/17344-cachorro-de-oculos-meme-do-doge-ja-foi-articles_media_desktop-2.jpg"
    />
    <div class="about_container">
      <h1 class="header-about__title">Seu Nome</h1>
      <p class="header-about__text">
        Coloque aqui sua biografia de forma resumida. Coloque aqui sua biografia de forma resumida.
        Coloque aqui sua biografia de forma resumida. Coloque aqui sua biografia de forma resumida.
        Coloque aqui sua biografia de forma resumida. Coloque aqui sua biografia de forma resumida.
        Coloque aqui sua biografia de forma resumida. Coloque aqui sua biografia de forma resumida.
      </p>
    </div>
  </section>
</section>
